body {
    display: table;
    margin: auto;
    padding-inline: 20;
}

header {
    background-color: ghostwhite;
    border-style: solid;
    border-radius: 10%;
    border-color: rgb(190, 71, 71);
    padding: 3rem;
    text-align: center;
    font-size: 100px;
    color: rgb(190, 71, 71);
}    

.container {
    display: flex;
    align-items: left;
    justify-content: space-evenly;
}

img {
    width: 200px;
    background-color: burlywood;
    padding: 3rem;
    border: 5px solid goldenrod;
}

.text {
    width: 250px;
    padding: 3rem;
    font-size: 25px;
}

.links {
  width: 250px;
  padding: 3rem;
  font-size: 50px;
}

h2 {
    background-color: maroon;
    color: blanchedalmond;
}

h3 {
    background-color: goldenrod;
}

h4 {
  background-color: purple;
  color: green;
  font-size: 25px;
}

h5 {
    font-size: 30px;
    background-color: blue;
    color: goldenrod;
}